*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
   width: 80%;
   height: 200px;
   margin-top: 40px;
   padding: 30px; 
   margin: 0 auto;
   border: 1px solid black;
}

.title__header{
    font-size: 50px;
    color: red;
    padding: 30px;
    text-align: center;
}

.text-header{
    margin: auto;
    text-align: center;
}

/*conteiner card */

.container {
	max-height: 800px;
	margin: 0 auto;
    padding: 50px;
}

.col {
	float: left;
	width: calc((100% - 60px) / 3);
	 margin-right: 20px; 
    
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.card {
	border: 1px solid;
	padding: 20px;

}
img {
	max-width: 30%;
    
}
.footer {
   width: 100%;
   height: 200px;
   margin-top: 40px;
   padding: 30px; 
   margin: 0 auto;
   border: 1px solid black;
   background-color: gray;
}
.text-footer{
    color: white;
    text-align: center;
    margin-left: auto;
 
}